SESSION_SECRET= 


# For use with the IGDB api. For instructions on how to obtain these, visit https://api-docs.igdb.com/#about
TWITCH_CLIENT_ID=
TWITCH_SECRET=

TWITCH_APP_ACCESS_TOKEN=

# For Prisma Database. Uses a PostgreSQL server.

DATABASE_URL="postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}?schema=public"

PGUSER=
PGPASSWORD=
PGDATABASE=

REDIS_HOST=