.gameLink {
	text-decoration: none;
}

.gameList {
	background-color: #323f4b;
	box-shadow: 0 0.5rem 1rem #0a0a0a3a;
	color: #f0f4f8;
	overflow-wrap: break-word;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	@media (max-width: 600px) {
		margin-left: 0;
		margin-right: 0;
	}
}

#deleteButton {
	background-color: #607180;
	color: #f0f4f8;
    border: 0px ;


  &:hover {
		background-color: #4F5D69;
		color: #ff7c1f;
		border: 1px solid #ff7c1f;
	}
}

.dropdownButton {
	background-color: #52606d;
	border-color: transparent !important;
	z-index: 1;
	&:hover {
		background-color: #3e4c59;
        border: 1px solid #cc5500 !important;
	}
	&:focus {
		background-color: #52606d;
        box-shadow: 0 0 0 .25rem rgba(204,85,0,.5) !important;
	}
	.show & {
		background-color: #52606d !important;
        box-shadow: 0 0 0 .25rem rgba(204,85,0,.5) !important;

    }
	&:after {
		display: none;
	}
}


.dropdown-item {
  &:active {
    background-color: rgba(204,85,0,.5) !important;
  }
}

#cancelButton {
  background-color: rgba(204,85,0) !important;
  border-color: transparent;
  &:hover {
    border: 1px solid #cc5500 !important;
  }
  &:focus {
    box-shadow: 0 0 0 .25rem rgba(204,85,0,.5) !important;
  }
}

.listDropdown {
	background-color: #3e4c59;
	color: #f0f4f8;
	box-shadow: 0 0.5rem 1rem #0a0a0a3a;
}

.listHeader {
	text-align: center;
	position: relative;
	z-index: 1;
}

.listTitle {
	width: 100%;
}

#deleteModal .modal-content {
  background-color: #3e4c59;
  color: #f0f4f8;
}

#expandButton {
  background-color: #323f4b;
  color: #f0f4f8;
  text-decoration: none;
  box-shadow: none;
}

#listDiv {
  text-align: center;
}

.completedGame {
  opacity: 50%;
  & span {
    text-decoration: line-through;

  }
}