#gameName {
	color: #f0f4f8;
}

.gameButton {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}

.verticalMoveDots {
	color: #f0f4f8;
}

#gameDiv {
  background-color: #323f4b;
}

#gameDiv .verticalMoveDots {
	visibility: hidden;
}

#gameDiv:hover .verticalMoveDots {
	visibility: visible;
}
