.carousel-caption {
	color: white;
	background-color: rgba(12, 12, 12, 0.8);
}

.carouselBackground {
	background-position: center;
	background-size: cover;
	.carousel-caption {
		position: static;
	}
}
