.navBar {
	background-color: #323f4b;
	color: #f0f4f8;
}

.dropdown-menu-dark {
	background-color: #3e4c59;
	color: #f0f4f8;
	box-shadow: 0 0.5rem 1rem #0a0a0a3a;
}

.navDropdownItem {
	font-family: var(--bs-font-sans-serif) !important;
	font-weight: 400;
}

#navBar-home {
  text-decoration: none;
}

