<% layout('layouts/boilerplate') %> 


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/changePassword" method="POST" class="validated-form" novalidate>
                        <h3 class="card-title text-center fw-bold">Change Password</h3>
                        <%- include('../partials/flash')%>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" readonly id="username" name="username" value="<%=user.username%>">
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="oldPassword">Current Password</label>
                            <input class="form-control" type="password" id="oldPassword" name="oldPassword" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="newPassword">New Password</label>
                            <input class="form-control" type="password" id="newPassword" name="newPassword" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
    