#searchResults {
	position: absolute;
}

.gameLink {
	text-decoration: none;
}

.dropdownLink {
	text-decoration: none;
	color: white;
}
.dropdownLink:hover {
	color: white;
	background-color: rgb(80, 78, 78);
}
